<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<div class="row text-center">
			<h1 class="synonymousBrand">synonymous</h1>
		</div>
		<br>
	</div>
	
	<div class="container-fluid">
        <div class="row">
            <form
                ng-submit="synonymous()">
            <div class="col-md-4 col-sm-4 col-xs-12">
                    <textarea
                        ng-model="synonymize"
                        name="synonymize"
                        class="synonymize"></textarea>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="submit" class="synonymousBrand" value="synonymous" ng-cloak ng-disabled="not synonymizing"/>
            </div>
            </form>
            <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="synonymize synonymized" ng-cloak>{{synonymized}}</div>
            </div>
        </div>
	</div>
    
    <br>
    <br>
	
</section>