.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.synonymize {
    display: block;
    margin: auto;
    width: 100%;
    height: 250px;
    min-height: 250px;
    max-height: 500px;
    min-width: 100%;
    max-width: 100%;
    background-color: #E83617;
    overflow: auto;
}

textarea.synonymize {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type=submit].synonymousBrand {
    background: transparent;
    border: none;
    outline: none;
    display: block;
    margin: auto;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

input[type=submit].synonymousBrand:hover {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h1.synonymousBrand {
    font-family: 'Pacifico', cursive;
    font-size: 72px;
}

body {
    background-color: #E80C7A;
}

.well, .jumbotron {
    background: #E80C7A;
}